* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
.container {
    width: 800px;
    border: 2px solid black;
    margin: 0 auto;
}
.flex-column {
    display: flex;
    flex-direction: column;
    /* Properti lainnya */
    /* width: 800px;
    height: 300px;
    background-color: #11C5C6;
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto; */
}
.flex-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    /* properti lainnya */
    /* background-color: #FBDD1C;
    margin: 5px;
    border: 2px solid black;
    border-radius: 10px; */
}
.box {
    flex-basis: 25%;
    background-color: cornflowerblue;
    border: 2px solid black;
    padding: 40px;
    text-align: center;
    color: white;
    font-size: 1.5em;
}
.first {
    flex-grow: 3;
}
.second {
    flex-grow: 2;
}

.third {
    flex-grow: 1;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
    
    /* properti pendukung */
    max-width: 800px;
    margin: 0 auto;
    text-align: right;
}
.flex-container-row {
    display: flex;
}
.button {
    flex-basis: 25%;
    
    /* properti pendukung */
    font-size: 1.5em;
    text-align: center;
    padding: 40px;
    border: 1px solid black;
    background: -webkit-linear-gradient(top, #d2d2d2, #ddd);
    cursor: pointer;
}
.double {
    /* flex-grow: 2; */
    flex-basis: 50%;
}
.display {
    color: white;
    width: 100%;
    padding: 10px 20px;
    background-color: #333333;
    border: 1px solid black;
    font-size: 2em;
}
.operator,
.negative,
.equals {
     background: orange;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 30px;
    margin-top: 20px;
}
.button:hover {
    font-weight: bold;
}
@media screen and (max-width: 513px) {
    .button {
        padding: 10px;
    }

    .history {
        width: 100%;
    }
 }
.history {
    width: 80%;
    margin: 30px auto 0 auto;
    overflow: scroll;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}
th,
td {
   text-align: center;
   padding: 16px;
}
th {
    background-color: orange;
    color: white;
}
tr:nth-child(even) {
    background-color: #d2d2d2;
}