* {
    box-sizing: border-box;
 }
 html {
    scroll-behavior: smooth;
 }
 body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
 }
 header {
    display: inline;
 }
 footer {
   display: inline;
 }
 nav {
    background-color:#6f656561;
    padding: 5px;
    position: sticky;
    top: 0;
    text-align: right;
 }
 nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
 }
 nav a:hover {
    font-weight: bold;
    /* background-color: #ddd; */
 }
 nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
 }
 nav .icon {
    display: none;
 }
 code {
   background: aqua;
   font-weight: bold;
 }
 .footer {
   background-color: #6f656561;
   position: fixed;
   padding: 15px;
   bottom: 0;
   width: 100%;
 }
 @media screen and (max-width: 600px) {
    .topnav li:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive li  {
      float: none;
      display: block;
      text-align: center;
      padding-top: 10px;
    }
  }
.jumbotron {
    font-size: 20px;
    text-align: center;
    color: #f7f7f7;
    position: fixed;
    top: -10px;
 }
 main {
    padding: 20px;
    /* overflow: auto; */
 }
 .text-center{
     text-align: center;
 }
 .text-justify {
    text-align: justify;
    max-width: fit-content;
 }
.img-slide {
    position: absolute;
    width: 100%;
    height: 950px;
    z-index: -10;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.gallery {
    padding: 30px;
    overflow: auto;
    padding-top: 47%;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
 }
 .content-gallery {
    padding-left: 20%;
    left: 22%;
 }
 .card-content {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    width: fit-content;
    float: left;
    margin: 15px;
 }
 .card-container {
    padding-left: 15px;
    height: 200px;
    display: none;
 }
 .card-transparent {
    padding: 20px;
    margin-top: 20px;
 }
 .button-detail {
    padding: 10px;
 }
 .button {
   border-radius: 25px;
   background-color: rgba(160, 163, 167, 0.71);
   border: none;
   color: #FFFFFF;
   text-align: center;
   font-size: 15px;
   padding: 20px;
   width: 150px;
   transition: all 0.5s;
   cursor: pointer;
   margin: 0;
 }
 
 .button span {
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.5s;
 }
 
 .button span:after {
   content: '\00bb';
   position: absolute;
   opacity: 0;
   top: -7px;
   right: -20px;
   transition: 0.5s;
   font-size: 25px;
 }
 
 .button:hover span {
   padding-right: 20px;
 }
 
 .button:hover span:after {
   opacity: 1;
   right: 0;
 }
 .flip-card {
   background-color: transparent;
   width: 300px;
   height: 300px;
   perspective: 1000px;
 }
 .flip-card {
   background-color: transparent;
   width: 300px;
   height: 300px;
   perspective: 1000px;
 }
 
 .flip-card-inner {
   position: relative;
   width: 100%;
   height: 100%;
   text-align: center;
   transition: transform 0.6s;
   transform-style: preserve-3d;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 }
 
 .flip-card:hover .flip-card-inner {
   transform: rotateY(180deg);
 }
 
 .flip-card-front, .flip-card-back {
   position: absolute;
   width: 100%;
   height: 100%;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
 }
 
 .flip-card-front {
   background-color: #bbb;
   color: black;
 }
 
 .flip-card-back {
   background-color: #2980b9;
   color: white;
   transform: rotateY(180deg);
 }
 .line {
    flex: 0 0 100%;
    position: relative;
    max-width: 50%;
    left: 23%;
 }
 .border-line {
    width: 100%;
    height: 1px;
    background-color: #ebebeb;
    margin-top: 50px;
 }
 .about {
    padding: 30px;
    overflow: auto;
    padding-top: 0;
}
.img-about{
    object-fit: cover;
    object-position: center;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.img-container{
    float: left;
    width: 100%;
}
.content-img{
    margin : 50px 0 50px 50px;
    width: 900px;
}
.content-icon{
    float: left;
    width: 20%;
    margin: 50px 0 50px 25px;
}
.flex-12{
    flex: 0 0 100%;
    max-width: 100%;
}
.flex-6{
    flex: 0 0 50%;
    max-width: 50%;
}
.row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.active {
   display: block;
}
@media screen and  (max-width: 575.98px) {
   main {
      overflow: unset;
   }
   .slidebar{
      flex: 0 0 100%;
      max-width: 100%;
   }
   .gallery {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      bottom: 0;
      top: 200px;
      position: relative;
      z-index: -1;
   }
   .about {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      bottom: 0;
      top: 150px;
      position: relative;
      z-index: -1;
   }   
   .img-container{
      width: 100%;
  } 
  .content-img{
      margin : 0;
   }
   .content-icon{
      margin : 0;
      width: 100%;
   }
   .content-gallery {
      padding-left: 0;
      left: 0;
  }
  .card-content {
      margin: 0;
      margin-bottom: 20px;
  }
  .img-slide{
      height: 450px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
  }
}

@media screen and  (max-width: 575.98px) {
   main {
      overflow: unset;
   }
   .slidebar{
      flex: 0 0 100%;
      max-width: 100%;
   }
   .gallery {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      bottom: 0;
      top: 200px;
      position: relative;
      z-index: -1;
   }
   .about {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      bottom: 0;
      top: 150px;
      position: relative;
      z-index: -1;
   }   
   .img-container{
      width: 100%;
  } 
  .content-img{
      margin : 0;
   }
   .content-icon{
      margin : 0;
      width: 100%;
   }
   .content-gallery {
      padding-left: 0;
      left: 0;
  }
  .card-content {
      margin: 0;
      margin-bottom: 20px;
  }
  .img-slide{
      height: 450px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
  }
  .img-kaktus{
   object-fit: cover;
   object-position: center;
   width: 100%;
  }
}

@media screen and  (max-width: 767.98px) { 
   main {
      overflow: unset;
   }
   .slidebar{
      flex: 0 0 100%;
      max-width: 100%;
   }
   .gallery {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      bottom: 0;
      top: 190px;
      position: relative;
      z-index: -1;
   }
   .about {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      bottom: 0;
      top: 150px;
      position: relative;
      z-index: -1;
   }   
   .img-container{
      width: 100%;
  } 
  .content-img{
      margin : 0;
   }
   .content-icon{
      margin : 0;
      width: 100%;
   }
   .content-gallery {
      padding-left: 0;
      left: 0;
  }
  .card-content {
      margin: 0;
      margin-bottom: 20px;
  }
  .img-slide{
      height: 450px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
  }
}
   